.mainContent {
    background: url(/assets/134196.webp);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    color: white;
    padding: 0 1rem;
}

.mainContent .title {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 1rem;
}

.questionCard {
    width: 90vw; /* Adjusts the width for mobile screens */
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(17, 25, 40, 0.55);
    border-radius: 12px;
    backdrop-filter: blur(3px) saturate(180%);
    cursor: pointer;
    user-select: none;
    animation: cardAnimation 0.4s linear forwards;
}

.questionOption {
    height: 48px;
    width: 100%;
    margin-top: 0.7rem;
    border-radius: 1rem;
    background: #8706ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Adjust text size for better readability on mobile */
}

@media screen and (min-width: 600px) {
    .questionCard {
        width: 60vw;
    }

    .questionOption {
        font-size: 1.2rem;
    }
}

.faceInput {
    position: absolute;
    right: 0;
    transform-origin: top right;
}
