.mainScreen {
    background-image: url(/assets/images/background.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center all text */
    padding-top: 20px; /* Add some space from the top */
}


.mainScreen > h1 {
    color: white;
    letter-spacing: 1px;
    font-size: 52px;
    animation: animateUpperText 0.7s linear 0s 1 forwards;
}

.self {
    color: #00FFFF;
    opacity: 80%;
}

.calmYourself {
    font-size: 3rem;
    color: white;
}

.goBtn {
    background: #00FFFF;
    border-radius: 19px;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    color: black;
    transition: all 0.3s;
    cursor: pointer; /* Change cursor on hover */
}

.goBtn:hover {
    transform: scale(1.08);
}

.content {
    animation: animateContent 0.7s linear 0s 1 forwards;
}

.content > img {
    height: 50vh;
    margin-top: 1rem; /* Space above the image */
}

@keyframes animateUpperText {
    0% {
        transform: translateY(-30px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animateContent {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
