<div class="mainScreen">
    <!-- Add your logo here -->
    <img src="/assets/images/logo.png" alt="Logo" class="logo" /> <!-- Update the src to your logo image path -->
    
    <h1><span style="color: #00FFFF;">Neuro</span>Haven</h1>
    
    <div style="display: flex; justify-content: center; text-align: center;">
        <div class="content">
            <p class="self">#1 Self Evaluating</p>
            <p class="calmYourself">Calm yourself down</p>
            <p style="color: rgb(255, 255, 255); opacity: 60%;">Help yourself become a better person</p>

            <div class="btnHolders" style="display: flex; justify-content: center; gap: 2rem; padding-top: 1.4rem;">
                <button (click)="navigateToQuestionScreen()" class="goBtn">Let's Go</button>
                <!-- Removed the Watch button -->
            </div>

            <img src="/assets/images/person.png" alt="">
        </div>
    </div>
</div>
